html {
    font-size: 62.5%;
    background: rgba(189, 189, 189, 0.1);
}

nav .brand-logo {
    padding-top: 1rem;
    margin-left: 1rem;
    font-size: 3.25rem;
}

.carousel {
    margin: 2rem 0;
    height: auto;
}

.carousel .carousel-item {
    width: 300px;
    height: auto;
}

.card {
    margin-top: 0;
    padding-bottom: 2rem;
}

.card .card-title {
    font-weight: bold;
}

.modal-trigger {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.card-content {
    max-height: 200px;
    overflow: auto;
}

.card-content::-webkit-scrollbar {
  width: 0.5rem;
}

.card-content::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.card-content::-webkit-scrollbar-thumb {
  height: 1.5rem;
  background-color: #b5b5b5;
  border-radius: 10px;
}

.card-content::-webkit-scrollbar-thumb {
  background-color: #757575;
}

.movie-tagline {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.movie-description {
    font-size: 1.6rem;
}

.more-button {
    margin-top: 1.6rem;
}

.hanging-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9001;
}

.modal.open{
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
}

.modal-content {
    height: calc(100% - 56px);
}

#trailer-video {
    width: 100%;
    height: 100%;
}

.scale-media {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}