<!-- Single movie entry html template -->
<section class="carousel-item movie-tile center-align grey-text text-darken-4">
    <div class="card hoverable">
        <div class="card-image">
            <img class="movie-image" src="{{poster_image_url}}" alt="Movie poster">
            <h3 class="card-title">{{movie_title}}</h3>
            <button data-target="trailer" class="btn btn-floating btn-large cyan lighten-1 waves-effect waves-light modal-trigger" data-trailer-youtube-id="{{trailer_youtube_id}}">
                <i class="material-icons">play_arrow</i>
            </button>
        </div>
        <div class="card-content">
            <div class="genres-row">
                {% for genre in genres %}
                    <span class="chip">{{genre}}</span>
                {% endfor %}
            </div>
            {% if tagline %}
                <q class="movie-tagline">{{tagline}}</q>
            {% endif %}
            <p class="movie-description flow-text">{{movie_description}}</p>
            <a class="btn cyan darken-2 more-button" href="{{imdb_url}}" target="_blank">
                more
            </a>
            <div class="popularity-container">
                {% if rating %}
                    <div class="rating-container">
                        <i class="material-icons cyan-text text-lighten-3">favorite</i>
                        <h5 class="rating grey-text text-darken-3">{{rating}}</h5>
                    </div>
                    <p class="votes grey-text text-darken-3">{{votes}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>