<!-- Styles and scripting for the page -->
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Fresh Tomatoes!</title>
      <!-- Materialize -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <!-- The main page layout and title bar -->
  <body>
    <!-- Trailer Video Modal -->
    {{trailer_modal_content}}
    <!-- Main Page Content -->
    <nav class="navbar center-align">
      <div class="nav-wrapper cyan darken-2">
        <a href="" class="brand-logo"><h1 class="page-title">sneak picks</h1></a>
      </div>
    </nav>
    <main>
      <div class="preloader visible center-align">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-cyan-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="heading center-align grey-text text-darken-2">Some movies to see.</h2>
      <div class="carousel">
        {{movie_tiles}}
      </div>
      <div class="random-container">
        <button class="btn cyan darken-2 waves-effect waves-light randomizer">shuffle</button>
      </div>
    </main>
    <div class="parallax-container">
      <div class="parallax">
        <img src="static/img/chairs.jpg">
        <a class="img-credit-badge" href="https://unsplash.com/@lloydaleveque?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Lloyd Dirks">
          <span class="img-credit-icon-span"><svg xmlns="http://www.w3.org/2000/svg" class="img-credit-icon-svg" viewBox="0 0 32 32"><title></title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span class="img-credit-icon-span">Lloyd Dirks</span></a>
      </div>
      <div class="footer-text center-align">
        <h3 class="footer-attribution">Data sourced from <a class="attribution-link" href="https://www.themoviedb.org">tmdb</a>.</h3>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script defer src="static/js/app.js"></script>
  </body>
</html>
